Source: lliurex-artwork-fonts
Section: x11
Priority: optional
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.9.5

Package: lliurex-artwork-fonts
Architecture: all
Section: x11
Description: LliureX's 19 extra TrueType fonts
 This package constains additional TrueType fonts, as Google Open Sans.
 
Package: lliurex-artwork-fonts-classroom
Architecture: all
Section: x11
Description: LliureX's 19 classroom TrueType fonts
 This package constains additional TrueType fonts, designed for classroom
